.chat-page
  = render 'devise/shared/side_bar'

  .main-chat
    .main-top
      .main-top__left
        %p.main-top__left__name yuyateam
        %ul.main-top__left__member
          Member :
          %li.main-top__left__member-list yuya
      =link_to "#", class: "main-top__right" do
        .main-top__right__edit Edit
    .main-box
      .group-chat
        .main-box-info
          %p.main-box-info__name yuya
          %p.main-box-info__date 2019/07.19(Fri) 15:00:00
        %ul.main-box__comment hello!!
        .group-chat
        .main-box-info
          %p.main-box-info__name test
          %p.main-box-info__date 2019/07.20(Stu) 14:14:30
        %ul.main-box__comment thank you
    .main-form
      .main-form-box
        %input(type="text" class="main-form-box__text" value="type a message")
          %label(class="main-form-box__text__pic")
            <i class="fa fa-image"></i>
            %input(type="file" class="main-form-box__text__pic__file")
      %input(type="submit" class="main-form__button" value="Send")