    .chat-page
      .header
        %p グループを作成しました


      .side-chat
        .side-top
          .side-top__user
            %p.side-top__user__name yuya
            %ul.side-top__user__info
              =link_to "#", class: "side-top__user__info__left" do
                <i class="fa fa-edit"></i>
              =link_to "##", class: "side-top__user__info__right" do
                <i class="fa fa-cog"></i>
        .groups
          .group
            %p.group__name yuyateam
            %p.comment__comment hello!!
          .group
            %p.group__name example
            %p.comment__comment まだメッセージがありません

      .main-chat
        .main-top
          .main-top__left
            %p.main-top__left__name yuyateam
            %ul.main-top__left__member
              Member :
              %li.main-top__left__member-list yuya
          =link_to "#", class: "main-top__right" do
            .main-top__right__edit Edit
        .main-box
          .group-chat
            .main-box-info
              %p.main-box-info__name yuya
              %p.main-box-info__date 2019/07.19(Fri) 15:00:00
            %ul.main-box__comment hello!!
            .group-chat
            .main-box-info
              %p.main-box-info__name test
              %p.main-box-info__date 2019/07.20(Stu) 14:14:30
            %ul.main-box__comment thank you
        .main-form
          .main-form-box
            %input(type="text" class="main-form-box__text" value="type a message")
              %label(class="main-form-box__text__pic")
                <i class="fa fa-image"></i>
                %input(type="file" class="main-form-box__text__pic__file")
          %input(type="submit" class="main-form__button" value="Send")